# Database - Ganti dengan URL PostgreSQL kamu
DATABASE_URL="postgresql://username:password@localhost:5432/portfolio?schema=public"

# NextAuth
NEXTAUTH_SECRET="ganti-dengan-secret-random-kamu"
NEXTAUTH_URL="http://localhost:3000"
